@import 'partials/colors';
@import 'partials/functions';


#signin {

	@include container;
	h2 {
		padding-bottom: 0.7em;
	}
	.span4 {
		margin-bottom: 2em;
	}
	.control-label {
		width: 70px;
	}
	.controls {
		margin-left: 90px;
	}
}