<h1>Stores </h1>

<% if @stores.count > 0 %>
	<ul>
		<% @stores.each do |store| %>
			<li>
				<%= link_to store.name, store_path(store) %>
			</li>
		<% end %>
	</ul>
<% else %>
	No Stores Available 
<% end %>

<p>
	<%= link_to "Create Your Store",  new_store_path %><br>
	<%= link_to "Back to Home",  plazrrs_path %>
</p>



