<% if target.errors.any? %>
<div id="errorExplanation">
  <h2><%= pluralize(target.errors.count, "erro") %> encontrados:</h2>
  <ul>
	  <% target.errors.each_with_index do |message, i| %>
	    <li><div class="message"><%= message[1] %></div></li>
	  <% end %>
  </ul>	
</div>
<% end %>