<h1>All Store Categories</h1>

<ul>
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.title, store_category_path(category) %>
    </li>
  <% end %>
</ul>

<%= link_to "Create new Store Category", new_store_category_path %><br>
<%= link_to "Back To Home", plazrrs_path %>