<div class="wrap-center-container index-container">
	<div class="container">
		<div class="row-fluid announcement">
			<div class="span12">
				<div class="row-fluid">
					<div class="span12">
						<h1><span class="logo">Plazr </span><small>A Simplificar o Comércio Online</small></h1>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span10 offset2">
						<p class="lead">O Plazr é um projeto inovador que visa simplificar a criação e manutenção de lojas de desporto online.
						A ideia é simplificar a transição do comércio tradicional para o mundo digital.</p>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span10 offset2">
						<div class="input">
							<a href="/pages/prices" class="btn btn-primary">Começar Agora!</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>