<table width="800" class="table table-hover">
	<tr align="center" bgcolor="black">
		<th><font color="white"><h2>Experimental</h2></th>
		<th><font color="white"><h2>Básico</h2></font></th>
		<th><font color="white"><h2>Professional</h2></font></th>
	</tr>
	<tr align="center" bgcolor="black">
		<th><font color="white"><h5>Grátis</h5></font></th>
		<th><font color="white"><h5>15 €/mês <br> 7,5 €/semana<font color="red">*</font></h5></font></th>
		<th><font color="white"><h5>20 €/mês</h5></font></th>
	</tr>
	<tr>
		<td align="center"><h6>Domínio grátis</h6></td>
		<td align="center"><h6>Domínio grátis</h6></td>
		<td align="center"><h6>Domínio grátis</h6></td>
	</tr>
	<tr bgcolor="#cccccc">
		<td align="center"><h6>10 produtos</h6></td>
		<td align="center"><h6>1000 produtos</h6></td>
		<td align="center"><h6>Produtos ilimitados</h6></td>
	</tr>
	<tr>
		<td align="center"><h6>Paypal</h6></td>
		<td align="center"><h6>Paypal, <br> Envio à cobrança, <br>Cartão de crédito e <br> Transferência bancária</h6></td>
		<td align="center"><h6>Paypal, <br> Envio à cobrança, <br>Cartão de crédito e <br> Transferência bancária</h6></td>
	</tr>
	<tr bgcolor="#cccccc">
		<td align="center"><h6>Design único</h6></td>
		<td align="center"><h6>Designs básicos</h6></td>
		<td align="center"><h6>Designs básicos e<br> premiums</h6></td>
	</tr>
	<tr valign="top">
		<td >
			<h6>Informação adicional: <br>
				<ul>
					<li>Criar vales de desconto</li>
					<li>Gamification</li>
					<li>Suporte têcnico por email</li>
					<li>Idioma português</li>
					<li>Moeda euro (€)</li>
				</ul>
			</h6>
		</td>
		<td>
			<h6>Informação adicional: <br>
				<ul>
					<li>Criar vales de desconto</li>
					<li>Gamification</li>
					<li>Suporte têcnico por email</li>
					<li>Idioma português</li>
					<li>Moeda euro (€)</li>
					<li>Personalização da loja</li>
					<li>Feeds</li>
					<li>Revenda de produtos</li>
					<li>Integração com as redes sociais</li>
				</ul>
			</h6>
		</td>
		<td>
			<h6>Informação adicional: <br>
				<ul>
					<li>Criar vales de desconto</li>
					<li>Gamification</li>
					<li>Suporte têcnico por email e chat</li>
					<li>Idioma Português, <br>Inglês, Espanhol...</li>
					<li>Moeda euro (€) <br> e câmbio para outras moedas</li>
					<li>Personalização da loja</li>
					<li>Feeds</li>
					<li>Revenda de produtos</li>
					<li>Integração com as redes sociais</li>
				</ul>
			</h6>
		</td>
	</tr>
</table>
<h3><font color="red">*</font> Ideal para divulgar produtos sobre eventos durante um periodo limitado</h3>