<div id="page-prices">
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<h2>Planos à sua medida!</h2>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span9">
				<table class="">
					<tr>
						<th><h2>Experimental</h2>Grátis</th>
						<th><h2>Básico</h2>15 €/mês ou 7,5 €/semana *</th>
						<th><h2>Professional</h2>20 €/mês</th>
					</tr>
					<tr>
						<td><div class="bottom-border">Domínio grátis</div></td>
						<td><div class="bottom-border">Domínio grátis</div></td>
						<td><div class="bottom-border">Domínio grátis</div></td>
					</tr>
					<tr>
						<td><div class="bottom-border">10 <span class="free">produtos</span></div></td>
						<td><div class="bottom-border"><span class="basic">1000</span> produtos</div></td>
						<td><div class="bottom-border">Produtos <span class="professional">ilimitados</span></div></td>
					</tr>
					<tr>
						<td><div class="bottom-border">Paypal</div></td>
						<td><div class="bottom-border">Paypal, Envio à cobrança, Cartão de crédito e Transferência bancária</div></td>
						<td><div class="bottom-border">Paypal, Envio à cobrança, Cartão de crédito e Transferência bancária</div></td>
					</tr>
					<tr>
						<td><div class="bottom-border">Design único</div></td>
						<td><div class="bottom-border">Designs básicos</div></td>
						<td><div class="bottom-border">Designs básicos e <span class="professional">premiums</span></div></td>
					</tr>
					<tr>
						<td><div>
							Informação adicional: <br>
								<ul>
									<li>Criar vales de desconto</li>
									<li>Gamification</li>
									<li>Suporte têcnico por email</li>
									<li>Idioma português</li>
									<li>Moeda euro (€)</li>
								</ul>

							</div>
						</td>
						<td><div>
							Informação adicional: <br>
								<ul>
									<li>Criar vales de desconto</li>
									<li>Gamification</li>
									<li>Suporte têcnico por email</li>
									<li>Idioma português</li>
									<li>Moeda euro (€)</li>
									<li>Personalização da loja</li>
									<li>Feeds</li>
									<li>Revenda de produtos</li>
									<li>Integração com as redes sociais</li>
								</ul>

							</div>
						</td>
						<td><div>
							Informação adicional: <br>
								<ul>
									<li>Criar vales de desconto</li>
									<li>Gamification</li>
									<li>Suporte têcnico por email e chat</li>
									<li>Idioma Português, <br>Inglês, Espanhol...</li>
									<li>Moeda euro (€) <br> e câmbio para outras moedas</li>
									<li>Personalização da loja</li>
									<li>Feeds</li>
									<li>Revenda de produtos</li>
									<li>Integração com as redes sociais</li>
								</ul>
							</div>
						</td>
					</tr>
					<tr>
						<td><a href="/pages/terms" class="btn input-small">Aderir</a></td>
						<td><a href="/pages/terms" class="btn input-small">Aderir</a></td>
						<td><a href="/pages/terms" class="btn input-small">Aderir</a></td>
					</tr>
				</table>
			</div>
			<div class="span3">
				<p>Adopte o plano mais indicado neste momento sabendo que pode mais tarde mudar!</p>
				<p>Ideal para divulgar produtos sobre eventos durante um periodo limitado</p>
			</div>
		</div>
	</div>
</div>