<div id="terms" class="row-fluid">		
	<h3 align="center">Termos e condições do Plazr</h3>
	<br>
	<div class="spawn10 offset2">
		<div class="stuff" data-spy="scroll">
			<h4>Clausula 1ª - Objeto</h4> 
			<ol>
				<li>
					O Serviço é prestado pelo Plazr, uma plataforma de software desenvolvida por uma equipa de estudantes do Mestrado em Engenharia Informática da Universidade do Minho.
				</li>
				<li>
					O objeto do presente contrato consiste na prestação do serviço de construção e gestão de sites e/ou de visibilidade na internet (doravante designado de Serviço) a prestar pelo Plazr.
				</li>
			</ol>
			<br>
			<h4>Clausula 2ª - Adesão</h4>
			<ol>
				<li>
					O processo de adesão ao serviço inicia-se através de registo eletrónico na página do Plazr, onde são apresentados os serviços da plataforma, assim como o objeto e condições contratuais gerais e particulares do serviço.
				</li>
				<li>
					Após a intenção expressa por parte do Cliente em aderir ao Serviço, a qual poderá ocorrer durante o primeiro contacto ou em momento posterior, o Cliente deverá facultar ao Plazr ou seus agentes devidamente identificados, a informação comercial e os elementos gráficos da sua empresa, com vista a ser prestado o(s) serviço(s) contratados.
				</li>
				<li>
					De seguida, é remetido ao Cliente o projeto do(s) serviço(s) prestado(s), sendo que, no momento da aprovação do mesmo por parte do Cliente, por via telefónica, correio eletrónico ou contacto pessoal, se considera que o presente contrato começa a produzir efeitos.
				</li>
				<li>
					Com a aprovação do projeto, o Cliente declara que tomou conhecimento e concordou com as Condições Gerais e Particulares constantes no presente Contrato de Adesão aos Serviços Plazr, as quais serão remetidas ao cliente juntamente com a primeira fatura.
				</li>
			</ol>
			<br>
			<h4>Clausula 3ª - Custos</h4>
			<ol>
				<li>
					Para remuneração dos serviços contratados, o Cliente poderá optar, no momento de adesão ao serviço, e alterar posteriormente a um dos planos de pagamento apresentados na página do Plazr. 
				</li>
				<li>
					Mediante o plano escolhido, o cliente obriga-se a efetuar a transferência bancária com o valor e periodicidade contratada, à exceção dos serviços gratuitos.
				</li>
			</ol>
			<br>
			<h4>Clausula 4ª - Responsabilidades do Cliente</h4>
			<ol>
				<li>
					A informação comercial e os elementos gráficos fornecidos pelo Cliente são da sua inteira responsabilidade, sendo este o único e exclusivo responsável pela exatidão, qualidade, veracidade, legalidade ou licitude dos produtos e conteúdos da referida informação, bem como por qualquer informação contida em sites criados pelo Plazr.
				</li>
				<li>
					Na utilização do presente Serviço, o Cliente obriga-se a omitir qualquer conduta que infrinja a ordem jurídica vigente ou que lese, de alguma forma, interesses ou posições juridicamente protegidas, obrigando-se ainda a não perturbar ou degradar a qualidade desse Serviço.
				</li>
				<li>
					O Cliente assume a total responsabilidade pela conclusão dos negócios relativos a produtos ou serviços divulgados através do Plazr, bem como pelo exato cumprimento da respetiva legislação aplicável.
				</li>
			</ol>
			<br>
			<h4>Clausula 5ª - Responsabilidades do Plazr</h4>
			<ol>
				<li> 
					O Plazr garante o eficaz funcionamento do serviço em 90% do tempo, nos exatos termos descritos nas cláusulas 1ª e 2ª do presente Contrato, designadamente:
					<ol type="a">
						<li>Elaboração gráfica do site e/ou configurações publicitárias do Cliente, conforme elementos fornecidos por este último;
						</li>
						<li>
							Construção, gestão, manutenção e funcionamento do site ou dos serviços técnicos adjudicados pelo Cliente, segundo os serviços e condições acordados; 
						</li>
					</ol>
				</li>
				<li>
					Atendendo à dificuldade da confirmação da identidade dos utilizadores da Internet, o Plazr não se responsabiliza pela correta identificação dos Clientes, nem pela exatidão, qualidade, veracidade, legalidade ou licitude dos produtos e conteúdos da informação fornecida pelos Clientes, bem como por qualquer informação contida em sites cuja construção seja atribuída ao projeto Plazr. 
				</li>
				<li>
					O Plazr não é também responsável pelos prejuízos resultantes de erros ou omissões constantes dos sites do Cliente, nomeadamente contactos, endereços ou telefones incorretos, desde que os mesmos provenham de informações de mercado ou do Cliente. 
				</li>
				<li>
					O Plazr também não poderá ser responsabilizado por ocorrências de casos de força maior ou fortuitos, designadamente vírus informáticos, greves e demais ocorrências alheias ao Plazr e imputáveis a terceiros.
				</li>
				<li>
					Se, por qualquer motivo que lhe seja imputável, o Plazr não colocar online o site nas datas acordadas, ou se as informações não forem inseridas na forma e exatos termos contratados, seja por razões técnicas ou por qualquer outro tipo ou qualquer outra causa, fica a responsabilidade do Plazr limitada à colocação online em data posterior e, se tal não for possível, ou se o Plazr assim o entender, ao reembolso da parte proporcional do preço efetivamente pago pelo Cliente, não havendo lugar a qualquer outro tipo de indemnização. 
				</li>
				<li>
					Não obstante o disposto nos números anteriores, se ao Plazr for imputada qualquer tipo de responsabilidade, esta não poderá exceder o valor do presente contrato.
				</li>
			</ol>
			<br>
			<h4>Clausula 6ª - Duração</h4>
			<ol>
				<li> 
					O presente contrato produz os seus efeitos a partir da data referida nos termos do disposto na clausula 2ª nº 3 e vigorará pelo prazo estabelecido no plano de preços a que o Cliente subscreve, sendo o mesmo renovável por iguais períodos de tempo, caso nenhuma das partes se oponha à sua renovação e salvo menção diferente nas condições particulares.
				</li>
				<li>
					Caso uma das partes pretenda opor-se à renovação do presente contrato, deverá comunicar tal intenção à contraparte, devendo fazê-lo com uma antecedência mínima de 30 dias, para os contratos superiores a 90 dias, e 15 dias, para os contratos inferiores ou iguais a 90 dias, relativamente à data do final do contrato ou da renovação em vigor, mediante mensagem de correio eletrónico ou carta registada para os endereços indicados nas Condições Particulares.
				</li>
			</ol>
			<br>
			<h4>Clausula 7ª - Resolução</h4>
			<ol>
				<li> 
					Ao Cliente assiste o direito de livre resolução, nos termos do qual pode, no prazo de 14 dias após o início da vigência do contrato, apurada nos termos do nº3 da cláusula 2ª, resolver livremente o presente contrato, mediante mensagem de correio eletrónico ou carta registada para os endereços indicados nas Condições Particulares.
				</li>
				<li>
					Em caso de incumprimento contratual grave e reiterado por qualquer uma das Partes, poderá a Parte Lesada resolver o presente contrato por incumprimento definitivo, mediante mensagem de correio eletrónico ou carta registada para o endereço e morada indicados nas Condições Particulares.
				</li>
				<li>
					O Plazr poderá ainda, a todo o tempo, e sem aviso prévio, suspender os serviços a que se obriga, nos seguintes casos:
					<ol type="a">
						<li>
							Mora no pagamento das faturas por parte do Cliente;
						</li>
						<li> 
							O Cliente fornecer informações enganosas, inexatas e ilícitas relativas à informação comercial e elementos gráficos da sua empresa;
						</li>
						<li>
							O Cliente violar qualquer dos princípios gerais do direito, nomeadamente o da boa-fé, da veracidade e legalidade;
						</li>
						<li> 
							Em casos de força maior ou fortuitos, designadamente vírus informáticos, greves e demais ocorrências alheias ao Plazr, falência, liquidação ou casos análogos.
						</li>
					</ol> 
				</li>
				<li>
					Nos casos previstos no ponto anterior, não poderá haver lugar à responsabilização do Plazr pela suspensão ou resolução contratual, sem prejuízo de eventuais responsabilizações do Cliente junto do Plazr ou demais terceiros.
				</li>
			</ol>
			<br>
			<h4>Clausula 8ª - Alterações Contratuais</h4>
			<ol>
				<li>
					O Plazr poderá, a qualquer momento, proceder a alterações das Condições Particulares do presente contrato, bastando para tal comunicar tais alterações ao Cliente, mediante mensagem de correio eletrónico.
				</li>
				<li>
					Caso o Cliente não aceite as alterações contratuais propostas pelo Plazr, poderá optar pela denúncia do presente Contrato, devendo tal intenção ser comunicada, mediante mensagem de correio eletrónico no prazo máximo de 30 dias após a data de receção da informação enviada pelo Plazr. 
				</li>
				<li>
					No caso previsto no número anterior, não haverá lugar a qualquer tipo de indemnização por nenhuma das Partes.
				</li>
				<li>
					Caso o Cliente opte pela denúncia do contrato, nos termos previstos no ponto 2, a mesma só produzirá efeitos na data do termo do contrato inicialmente prevista, sendo que, até essa data, manter-se-ão em vigor as Condições inicialmente contratadas. 
				</li>
			</ol>
			<br>
			<h4>Clausula 9ª - Tratamento de Dados Pessoais</h4>
			<ol>
				<li> 
					O Cliente autoriza de forma expressa e inequívoca o Plazr a proceder ao tratamento de dados pessoais fornecidos pelo Cliente para os seguintes efeitos: 
					<ol type="a">
						<li>
							Execução do presente contrato ou diligências prévias à formação do mesmo; 
						</li>
						<li>
							Cumprimento de obrigações legais por parte do Plazr;
						</li>
						<li> 
							Prossecução de interesse legítimos do Plazr ou de terceiros a quem os dados sejam comunicados, desde que os mesmos não prevaleçam sobre os do cliente; 
						</li>
						<li>
							Promoção de campanhas de fidelização e de marketing do Plazr, sem prejuízo do disposto no artigo 12.º da Lei n.º 67/98, de 26 de Outubro.
						</li>
					</ol>
				</li>
				<li> 
					O Cliente tem o direito de aceder aos elementos por si fornecidos e solicitar a sua atualização, supressão ou correção. Para tal, poderá faze-lo na página do Plazr ou solicitação por correio eletrónico.
				</li>
			</ol>
			<br>
			<h4>Clausula 10ª - Propriedade Industrial e Intelectual</h4>
			<ol>
				<li>
					O conteúdo dos sites criados pelo Plazr, nomeadamente o software utilizado, gráficos, fotografias, textos, marcas, estrutura e qualquer tipo de informação é da propriedade exclusiva do Plazr, o qual detém os direitos de autor sobre o mesmo, com exceção dos conteúdos e materiais entregues pelo cliente, nomeadamente, os conteúdos do site, em formato texto, fotografia ou vídeo, e o logótipo ou outros elementos fornecidos pelo Cliente.
				</li>
				<li> 
					O Cliente expressamente aceita que no site criado exista, em permanência, a seguinte menção: “powered by www.plazr.net” e/ou o presente logótipo Plazr.
				</li>
				<li>
					A compilação, isto é, a ordenação e montagem dos sites é também da propriedade exclusiva do Plazr.
				</li>
				<li> 
					Nesse sentido, o Cliente obriga-se a respeitar a legislação em vigor respeitante aos Direitos de Autor, Propriedade Industrial e à Criminalidade Informática, comprometendo-se também a utilizar os conteúdos do seu site para fins lícitos, e na exata medida dos poderes que lhe tenham sido atribuídos pelo Plazr, sendo-lhe por isso proibido reproduzir, publicar, difundir ou torná-los acessíveis a terceiros, com vista à/ su
					a comunicação pública ou comercialização, sem conhecimento prévio do Plazr.
				</li>
				<li>
					Da mesma forma, o Cliente do Plazr reconhece ainda que está também expressamente proibido de proceder a qualquer transformação do software, da imagem ou conteúdos constantes do seu site, bem como de introduzir de forma intencional nos mesmos, qualquer tipo de vírus ou programa que o possam danificar ou contaminar. 
				</li>
			</ol>
			<br>
			<h4>Clausula 11ª - Domicílio</h4>
			<ol>
				<li>
					As Partes consideram-se domiciliadas na sede das mesmas referida nas Condições Particulares, se entretanto não comunicarem a cada uma das compartes, novo domicilio, por meio de que que registo. 
				</li>
			</ol>
			<br>
			<h4>Clausula 12ª - Foro</h4>
			<ol>
				<li>
					Para qualquer questão emergente do presente Contrato, as Partes elegem o foro da Comarca de Braga, com expressa renúncia a qualquer outro.
				</li>
			</ol>
		</div>
	</div>
</div>
<br>
<div class="row-fluid">
	<div class="span4 offset5">
		<label class="checkbox" >
			<input type="checkbox">
			<h5>Eu li e concordo com os termos e condições</h5>
		</label>
	</div>
	<div class="span3">
		<div id="content">
			<button class="btn btn-primary" type="button">Continuar ></button>
		</div>
	</div>
</div>