
$color1: #515151;

$color4: #F6F6F8;

$whiteTransparency: rgba(255, 255, 255, 0.9);

$text: #333333;
$text-white: #FFFFFF;

$colorL: white;
$colorLA: rgba(255, 255, 255, 0.9);
$colorDDD: #CCEBF1;
$colorDDDA: rgba(204, 235, 241, 0.9);
$colorDD: #DAF3F8;
$colorD: #EEFCFF;

$color: black;
