
@font-face {
	font-family: 'Tabitha';
	src: url('/font/tabitha.ttf');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url('/font/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
}

@font-face {
	font-family: 'Guardian';
	font-style: normal;
	font-weight: 400;
	src: url('/font/kimberley.ttf');
}